/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}url(https://file%2B.vscode-resource.vscode-cdn.net/Users/nick/Desktop/Assessment1/colmar-academy-spec.png?version%3D1763104307519)

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end]; /* start to center to end  */
  grid-template-rows: repeat(6, min-content);
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav {
  display: flex;
  grid-column: full-start / full-end; /* IMPORTANT: navbar uses 1fr of the screen */
  justify-content: space-between;
  height: 4rem;
   
}

/* Set up logo styles */
.logo {
  height: 3rem;
  margin-left: 1.5rem;
}

.logoname {
  text-transform: uppercase;
}

.logoname-bold {
  font-weight: bold;
  color: #484848;
}

.logoname-light {
  font-weight: lighter;
  color: #aaa;
}

/* Set up navigation links' styles */
nav ul {
  list-style: none;
  display: flex;
  align-items: center; /* TODO: to confirm the alignment for the list of links */
}

nav ul li {
  padding-right: 1rem;
}

nav ul li:last-child {
  padding-right: 1.5rem;
}

nav > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Set up header area */
header {
  display: flex;
  align-items: center;
  /* vertical allignment */
  justify-content: center;
  /*horizontal allignment */
  background-color: #d8d8d8;
}

.imagecontainer {
  padding: 2rem 1.5rem 2rem 1.5rem; /* t=2rem r=0rem b=2rem l=1.5rem */
}

header > img {
  max-width: 100%;
  height: auto;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 18rem;
  padding: 0 1.5rem;
}

header > div > h1 {
  font-size: x-large;
}

header > div > h2 {
  font-size: large;
}

header > div > a {
  background-color: #484848;
  display: block;
  width: 100%;
  padding: 0.5rem 0; /* tb=8px lr=0 */
  text-align: center;
  color: #fff;
  text-decoration: none;
}

/* hover effect for call to action link */
header > div > a:hover {
  color: rgb(255, 255, 255, 0.5);
  background-color: rgb(72, 72, 72, 0.5);
}

/* Set up practice section */
.practice {
  display: flex;
  justify-content: flex-start; /* push content to the left */
  flex-direction: column;
}

.practice > .imagecontainer > img {
  max-width: 100%;
  height: auto;
}

.practice > .practice-text {
  padding: 0 1.5rem;
}

.practice > .practice-text > h1 {
  font-size: x-large;
  margin: 2rem 0 1.5rem 0;
}

.practice > .practice-text > p {
  font-size: small;
  font-weight: lighter;
}

.practice > .practice-text > p > span {
  display: block;
  padding: 2rem 0;
}

/* Set up events section */
.events {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border-left: 1px solid #e7e7e7;
}

.events .event-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
}

.events .event-block:last-child {
  background-color: #d8d8d8;
}

.events > .event-block > img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.events > .event-block:first-child > img {
  margin-top: 2rem;
}

.events > .event-block > .event-text > h3 {
  font-size: medium;
}

.events > .event-block > .event-text {
  margin: 2rem;
}

.events > .event-block > .event-text > p,
.events > .event-block > .event-text > a {
  font-size: small;
   text-decoration: none;
}

.events > .event-block > .event-text > a {
  color: #3434c6;
}

.events > .event-block > .event-text > p {
  margin: 0.5rem 0;
}

/* Start of footer section */

footer {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  border-top: 1px solid #e7e7e7;
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
  color: #8d8d8d;
}

footer > p {
  margin-left: 1.5rem;
}

footer > ul {
  display: flex;
  list-style: none;
}

footer > ul > li {
  margin-right: 1rem;
}

/* Hide nav mobile */
#nav-mobile, .events > .event-block > .event-img-mobile{
    display: none;
}

footer > ul > li:last-child {
  margin-right: 1.5rem;
}

/* Hide events mobile */

/** ********************** **/
/** End of Desktop Section **/



/* Desktop Learning section */


.learning {
    background-color: #d8d8d8;;
    height: auto;
    grid-column: full-start / full-end; 
    padding: 2rem 8rem 2rem 2rem;
  
}

.learning-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem 4rem 0rem;
    font-size: x-large;
    font-weight: 800;
    <!--color: #4A4A4A;-->
}

.learning-container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin: 0rem 4.5rem;
}


.card a {
    text-decoration: none;
    color: #797676;
}
.card h4 {
    margin: 1rem;
    font-size: x-large;
}
.card-content{
    margin: 1rem 1rem;
    width: 60%;
}

.scope {
    padding: .5rem 0;

}

.card img {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.card {
    background-color: #FFF;
}

.card:hover {
    transform: scale(1.03);
}

/** Thesis Desktop Mode **/

.thesis {
    grid-column:full-start / full-end; 
    padding: 2rem 1.5rem;
    /* border: 2px solid red; */
}

.thesis-container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

.thesis-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: xx-large;
    <!-- font-weight: 800; -->
    color: #4A4A4A;
}

.thesis-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 1.5rem;
}

.thesis-left video {
    width: 100%;
}

.thesis-left-content h3 {
    color: #4A4A4A;
    margin: 1.5rem 0 0.5rem 0;
}

.thesis-left-content p {
    color: #767676;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.thesis-right {
    display: grid;
    grid-template-rows: repeat(3, 0.5fr);
    grid-column: 0.4fr 0.6fr;
}

.thesis-card img {
    width: 35%;
    height: auto;
}

.thesis-card  {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
}

.thesis-card:first-child {
    background-color: #d8d8d8;
}

.thesis-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis-card-content h3 {
    color: #4A4A4A;
    margin: 1.5rem 0 0.5rem 0;
}

.thesis-card-content p {
    color: #767676;
    margin-bottom: 2rem;
}

/** End Thesis desktop mode **/

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem) {
  nav, .practice {
    display: none;

    
  }

  /** Test **/
     
    
    
    .learning-mobile {
        display: block; /* hide mobile version */
    }
  
 

  .learning-mobile{
      display: none;
    }

    .learning{
      display: block;
    }

  #nav-mobile{
    display: flex;
    align-items: center;
    height: 4rem;
    grid-column: full-start / full-end;
    justify-content: space-around;
  }

  header{
    display: grid;
    grid-column: full-start / full-end;
  }

  .imagecontainer{
    padding: 0;
    display: flex;
    justify-content: center;
  }

  header > div{
    display: block;
    width: auto;
    height: auto;
    padding: 2rem, 1 rem;
  }

  header > div > h1{
    font-size: 3rem;
    padding: 2rem 0 2rem 0rem;
  }

  header > div > h2{
    font-size: x-large;
    font-weight: normal;
    padding-bottom: 1.5rem;
  }

  header > div > a{
    opacity: 0.5;
  }

  .events{
    display: grid;
    grid-column: full-start / full-end;
    flex-direction: column;
  }

  .events > .event-block{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
  }

  .events > .event-block > img{
    display: none;
  }

  .events > .event-block:first-child > img {
    margin-top: 0:

  }

  .events > .event-block > .event-text{
    width: 100%;
    height:auto;
    padding-left: 1rem;
  }

  .events > .event-block > .event-text > h3{
    font-size: xx-large;
  }

  .events > .event-block > .event-text > p,
  .events > .event-block > .event-text > a
  {
    font-size: large;
    font-weight: lighter;
  }

  


  .events > .event-block > img {
    display: none
  }

   .events > .event-block > .event-img-mobile{
        display: block;
     

  }

  /* Hide terms and privacy in responsive mode */
  footer > ul{
    display: none;

  }

  /* Remove the background color of the special guest lecture */
  .events{
    border-left: none;
  }
  
  .events > .event-block:last-child{
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
  }


   .learning { /* hides learning desktop version */
        display: none;
    }

    .learning-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-learning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .mobile-learning a {
        text-decoration: none;
    }

    .mobile-learning li:hover {
        transform: scale(1.03);
        background-color: #adadad;
    }

    .mobile-learning li {
        text-decoration: none;
        list-style: none;
        font-size: large;
        font-weight: 600;
        background-color: #D8D8D8;
        margin: 1rem 1rem 0.5rem 1rem;
        font-size: 1.2rem;
        padding: 1.5rem 0 1.5rem 1rem;
        color: #4b4b4b;
    }

    .li-last-child {
        margin-bottom: 10rem;
    }

    .learning-heading-mobile {
        font-size: xx-large;
        margin-top: 2rem;
        color: #4f4f4f;
    }

    /** Start Thesis mobile **/

     .thesis-left-content {
        display: none;
    }

    .thesis-right {
        display: none;
    }
    
    .thesis {
        border-top: 1px solid #e9eaea;
        padding: 0 0;
    }

    .thesis-heading {
        margin: 2rem;
    }

    .thesis-left {
        padding: 0;
        margin: 0 0 1.5rem 0;
        grid-column: full--start / full--end;
        height: auto;
    }

    /** End thesis mobile **/

}

/** Attempts to reset to Desktop dimensions post  resize to mobile **/
/** Nick found he could not reset and trying this piece of code to reset after resize from Desktop to mobile to desktop **/
 @media screen and (min-width: 40.063rem) {
    .practice {
        display: block; /* reset to desktop style */
    }
    
    .events {
        display: grid; /* reset to desktop style */
    }
    
    .events-mobile {
        display: none; /* hide mobile version */
    }
    
    .learning {
        display: block; /* show desktop version */
    }
    
    .learning-mobile {
        display: none; /* hide mobile version */
    }
    
    .mobile-nav {
        display: none; /* ensure mobile nav is hidden */
    }
    
    .desktop-nav {
        display: flex; /* ensure desktop nav is shown */
    }
}
 



