/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end]; /* start to center to end  */
  grid-template-rows: repeat(6, min-content);
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav {
  display: flex;
  grid-column: full-start / full-end; /* IMPORTANT: navbar uses 1fr of the screen */
  justify-content: space-between;
  height: 4rem;
}

/* Set up logo styles */
.logo {
  height: 3rem;
  margin-left: 1.5rem;
}

.logoname {
  text-transform: uppercase;
}

.logoname-bold {
  font-weight: bold;
  color: #484848;
}

.logoname-light {
  font-weight: lighter;
  color: #aaa;
}

/* Set up navigation links' styles */
nav ul {
  list-style: none;
  display: flex;
  align-items: center; /* TODO: to confirm the alignment for the list of links */
}

nav ul li {
  padding-right: 1rem;
}

nav ul li:last-child {
  padding-right: 1.5rem;
}

nav > a {
  display: flex;
  align-items: center;
}

/* Set up header area */
header {
  display: flex;
  align-items: center;
  /* vertical allignment */
  justify-content: center;
  /*horizontal allignment */
  background-color: #d8d8d8;
}

.imagecontainer {
  padding: 2rem 1.5rem 2rem 1.5rem; /* t=2rem r=0rem b=2rem l=1.5rem */
}

header > img {
  max-width: 100%;
  height: auto;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 18rem;
  padding: 0 1.5rem;
}

header > div > h1 {
  font-size: x-large;
}

header > div > h2 {
  font-size: large;
}

header > div > a {
  background-color: #484848;
  display: block;
  width: 100%;
  padding: 0.5rem 0; /* tb=8px lr=0 */
  text-align: center;
  color: #fff;
}

/* hover effect for call to action link */
header > div > a:hover {
  color: rgb(255, 255, 255, 0.5);
  background-color: rgb(72, 72, 72, 0.5);
}

/* Set up practice section */
.practice {
  display: flex;
  justify-content: flex-start; /* push content to the left */
  flex-direction: column;
}

.practice > .imagecontainer > img {
  max-width: 100%;
  height: auto;
}

.practice > .practice-text {
  padding: 0 1.5rem;
}

.practice > .practice-text > h1 {
  font-size: x-large;
  margin: 2rem 0 1.5rem 0;
}

.practice > .practice-text > p {
  font-size: small;
  font-weight: lighter;
}

.practice > .practice-text > p > span {
  display: block;
  padding: 2rem 0;
}

/* Set up events section */
.events {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border-left: 1px solid #e7e7e7;
}

.events .event-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
}

.events .event-block:last-child {
  background-color: #d8d8d8;
}

.events > .event-block > img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.events > .event-block:first-child > img {
  margin-top: 2rem;
}

.events > .event-block > .event-text > h3 {
  font-size: medium;
}

.events > .event-block > .event-text {
  margin: 2rem;
}

.events > .event-block > .event-text > p,
.events > .event-block > .event-text > a {
  font-size: small;
}

.events > .event-block > .event-text > a {
  color: #3434c6;
}

.events > .event-block > .event-text > p {
  margin: 0.5rem 0;
}

/* Start of footer section */

footer {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  border-top: 1px solid #e7e7e7;
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
  color: #8d8d8d;
}

footer > p {
  margin-left: 1.5rem;
}

footer > ul {
  display: flex;
  list-style: none;
}

footer > ul > li {
  margin-right: 1rem;
}

/* Hide nav mobile */
#nav-mobile, .events > .event-block > .event-img-mobile{
    display: none;
}

footer > ul > li:last-child {
  margin-right: 1.5rem;
}

/* Hide events mobile */

/** ********************** **/
/** End of Desktop Section **/

/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem) {
  nav, .practice {
    display: none;
  }

  #nav-mobile{
    display: flex;
    align-items: center;
    height: 4rem;
    grid-column: full-start / full-end;
    justify-content: space-around;
  }

  header{
    display: grid;
    grid-column: full-start / full-end;
  }

  .imagecontainer{
    padding: 0;
  }

  header > div{
    display: block;
    width: auto;
    height: auto;
    padding: 2rem, 1 rem;
  }

  header > div > h1{
    font-size: 3rem;
    padding: 2rem 0 2rem 0rem;
  }

  header > div > h2{
    font-size: x-large;
    font-weight: normal;
    padding-bottom: 1.5rem;
  }

  header > div > a{
    opacity: 0.5;
  }

  .events{
    display: grid;
    grid-column: full-start / full-end;
    flex-direction: column;
  }

  .events > .event-block{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
  }

  .events > .event-block > img{
    display: none;
  }

  .events > .event-block:first-child > img {
    margin-top: 0:

  }

  .events > .event-block > .event-text{
    width: 100%;
    height:auto;
    padding-left: 1rem;
  }

  .events > .event-block > .event-text > h3{
    font-size: xx-large;
  }

  .events > .event-block > .event-text > p,
  .events > .event-block > .event-text > a
  {
    font-size: large;
    font-weight: lighter;
  }

  


  .events > .event-block > img {
    display: none
  }

   .events > .event-block > .event-img-mobile{
        display: block;
     

  }

  /* Hide terms and privacy in responsive mode */
  footer > ul{
    display: none;

  }

  /* Remove the background color of the special guest lecture */
  .events{
    border-left: none;
  }
  
  .events > .event-block:last-child{
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
  }

}

/* *********************** */
/** End of Mobile Section **/
